<div class="page-container" fxLayout="column">
    <div class="toolbar-container">
        <mat-toolbar color="primary">
            <ng-container *ngIf="!isSearchActive">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleNavbar()"
                    *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span i18n>Wine List</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button aria-label="Search" (click)="onActivateSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="isSearchActive">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="isSearchActive = false">
                    <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
                </button>
                <div class="search-container">
                    <input i18n-placeholder placeholder="Search" type="search" #searchField
                        [formControl]="searchControl" class="no-outline">
                </div>
            </ng-container>
        </mat-toolbar>
    </div>

    <div class="content-container">
        <mat-nav-list *ngIf=" wines$ | async; else loading">
            <ng-container *ngFor="let wine of wines$ | async">
                <mat-list-item routerLink="/wines/view-wine/{{wine._id}}">
                    <img matListAvatar [src]="wine.image ? wine.image : dummyAvatar">
                    <h3 matLine>{{wine.name}}</h3>
                    <p matLine>
                        <span> {{wine.producer}} </span>
                    </p>
                    <p matLine>
                        <span i18n>{wine.category, select, RedWine {RedWine} WhiteWine
                            {WhiteWine} RoseWine {RoseWine} SparklingWine {SparklingWine}}</span>
                    </p>
                    <div fxLayout="row">
                        <div fxFlex i18n>{wine.bottleCount, plural, =1 {{{wine.bottleCount}}
                            Bottle} other {{{wine.bottleCount}} Bottles}}</div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-nav-list>

        <ng-template #loading>
            <h3 i18n>Loading wines...</h3>
        </ng-template>
    </div>

    <div class="floating-action-button">
        <button mat-fab color="primary" routerLink="/wines/add-wine">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>