.mat-list-base .mat-list-item .mat-list-avatar{
    width: 60px;
    height: 60px;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
    display:none;
}

.search-field{
    width: 100%;
}

.search-field .mat-form-field-underline{
    display: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  border-color: transparent;
  color:#fff;
  font-size: inherit;;
}

.no-outline:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}