<mat-nav-list>
    <ng-container *ngFor="let wine of wines$ | async">
        <mat-list-item routerLink="/wines/view-wine/{{wine._id}}">
            <img matListAvatar [src]="wine.image" alt="..." class="wine-image">
            <h3 matLine>{{wine.name}}</h3>
            <p matLine>
                <span> {{wine.producer}} </span>
            </p>
            <p matLine>
                <span i18n="@@WineCategory">{wine.category, select, RedWine {RedWine} WhiteWine {WhiteWine} RoseWine
                    {RoseWine}}</span>
            </p>
            <div fxLayout="row">
                <div fxFlex i18n="@@NumberOfBottles">{getNumberOfBottles(wine), plural, =1 {{{getNumberOfBottles(wine)}} Bottle} other {{{getNumberOfBottles(wine)}} Bottles}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-nav-list>