<div [class.is-mobile]="isMobile()" class="sidenav-page-container">
  <mat-toolbar class="main-toolbar">
    <div class="main-toolbar-child">
      <button (click)="drawer.toggle()" class="drawer-button" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <img alt="" class="logo" src="assets/app-icons/bottle-light/app-icon-72-72.png">
      <div class="title" i18n>AppTitle</div>
      <div class="sub-title" i18n>AppSubTitle</div>
    </div>

  </mat-toolbar>
  <!--suppress CssUnknownProperty -->
  <mat-sidenav-container [style.marginTop.px]="isMobile() ? 56 : 0" class="sidenav-container">
    <mat-sidenav #drawer [fixedInViewport]="isMobile()" [mode]="isMobile() ? 'over' : 'side'" fixedTopGap="56">
      <div
        style="display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%">
        <mat-nav-list>
          <a [routerLink]="['/wines']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
            <mat-icon class="icon" matListItemIcon>wine_bar</mat-icon>
            <span class="title" i18n matListItemTitle>Wines</span>
          </a>
          <a [routerLink]="['/statistics']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
            <mat-icon class="icon" matListItemIcon>bar_chart</mat-icon>
            <span class="title" i18n matListItemTitle>Statistics</span>
          </a>
          <a [routerLink]="['/history']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
            <mat-icon class="icon" matListItemIcon>history</mat-icon>
            <span class="title" i18n matListItemTitle>History</span>
          </a>
          <a [routerLink]="['/settings']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
            <mat-icon class="icon" matListItemIcon>settings</mat-icon>
            <span class="title" i18n matListItemTitle>Settings</span>
          </a>
        </mat-nav-list>
        <app-version></app-version>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>




