<div [class.is-mobile]="isMobile()" class="sidenav-page-container">
  <mat-toolbar class="main-toolbar">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span i18n>AppTitle</span>
  </mat-toolbar>
  <!--suppress CssUnknownProperty -->
  <mat-sidenav-container [style.marginTop.px]="isMobile() ? 56 : 0" class="sidenav-container">
    <mat-sidenav #drawer [fixedInViewport]="isMobile()" [mode]="isMobile() ? 'over' : 'side'" fixedTopGap="56">
      <mat-nav-list>
        <a [routerLink]="['/wines']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
          <mat-icon class="icon" matListItemIcon>wine_bar</mat-icon>
          <span class="title" i18n matListItemTitle>Wines</span>
        </a>
        <a [routerLink]="['/statistics']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
          <mat-icon class="icon" matListItemIcon>bar_chart</mat-icon>
          <span class="title" i18n matListItemTitle>Statistics</span>
        </a>
        <a [routerLink]="['/history']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
          <mat-icon class="icon" matListItemIcon>history</mat-icon>
          <span class="title" i18n matListItemTitle>History</span>
        </a>
        <a [routerLink]="['/settings']" class="nav-item" mat-list-item routerLinkActive="router-link-active">
          <mat-icon class="icon" matListItemIcon>settings</mat-icon>
          <span class="title" i18n matListItemTitle>Settings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>




