.custom-flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.custom-flex-grow {
  flex: 1 1 auto;
}

.storage-locations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
