<h2 mat-dialog-title i18n="RmoveBottle">Remove bottle</h2>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px"
        style="font-size: larger; margin-top:20px; margin-bottom:20px;">
        <div i18n="Row">Row: {{data.row}}</div>
        <div i18n="Shelf">Shelf: {{data.shelf}}</div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="Cancel@@Cancel">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial i18n="Approve@@Approve">Approve</button>
</mat-dialog-actions>