/* You can add global styles to this file, and also import other style files */

@use './themes/custom-theme.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  //margin: 0;
}

.page-container {
  //padding-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar-container {
  //z-index: 100;
  flex: 0 0 auto;

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.content-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 20px;
  height: 100%;

}

.floating-action-button {
  position: fixed;
  right: 24px;
  bottom: 16px;
}
