/* You can add global styles to this file, and also import other style files */

@use './themes/custom-theme.scss';
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  //margin: 0;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar-container {
  //z-index: 100;
  flex: 0 0 auto;

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.content-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;

}

.floating-action-button {
  position: fixed;
  right: 24px;
  bottom: 16px;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
    container-max-width: 100%
  ));
}

.fullscreen-dialog {
  //padding: 0 !important;
  //border-radius: 0 !important;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 2px solid green;
}
