@import "../../node_modules/@angular/material/theming";

@include mat-core();

$custom-theme-primary: mat-palette($mat-amber, 100);
$custom-theme-accent: mat-palette($mat-amber, 100);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.mat-drawer-container {
    background-color: #5e2129;
}
