.mat-form-field{
    width: 100%;
}

.wine-image{
    height: 300px;
}

.image-container{
    position: relative;
}

.image-floating-action-button {
  position: absolute;
  top: 300px-40px-16px;
  right: 16px;
}

.no-image{
    width: 300px; 
    border: 1px dashed;
}