.mat-form-field{
    width: 100%;
}

.wine-image{
    height: 300px;
}

.container {
    height: 100%;
}

.content-container{
    overflow-y: auto;;
}

.image-container{
    position: relative;
}

.image-floating-action-button {
  position: absolute;
  top: 300px-40px-16px;
  right: 16px;
}