<div class="page-container" fxLayout="column" fxLayoutGap="20px">
    <!-- toolbar-->
    <div>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button [routerLink]="['/wines/wine-list']">
                <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
            </button>
            <span>{{wineFormGroup.value.name}}</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button aria-label="Save" (click)="onSave()" [disabled]="!wineFormGroup.valid"
                i18n-matTooltip matTooltip="Save changes">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button aria-label="RemoveBottle" routerLink="/wines/remove-bottle/{{(wine$|async)?._id}}"
                [disabled]="!wineId" i18n-matTooltip matTooltip="Remove wine bottle">
                <mat-icon>liquor</mat-icon>
            </button>
            <button mat-icon-button aria-label="More" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <!-- content -->
    <div class="content-container" fxFlex="auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

        <!-- image-->
        <div fxLayout="row" fxLayoutAlign="center stretch" fxFlexAlign="stretch">
            <div class="image-container" fxFlex="300px" style="height: 300px">
                <img *ngIf="currentImage" [src]="currentImage" class="wine-image" style="width: 100%; height: 100%" />
                <div *ngIf="!currentImage" class="wine-image" class="no-image" fxLayoutAlign="center center"
                    style="width: 100%; height: 100%;">
                    <div i18n>No image available</div>
                </div>
                <div class="image-floating-action-button">
                    <button mat-mini-fab color="accent" (click)=onCaptureImage()>
                        <mat-icon>photo_camera</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- form -->
        <div fxFlex>
            <div [formGroup]="wineFormGroup" *ngIf="(wine$ | async) as wine; else loading">
                <h3 i18n>Common Data</h3>
                <mat-form-field>
                    <mat-label i18n>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="nameField?.errors?.required" i18>Name is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Category</mat-label>
                    <mat-select formControlName="category" required>
                        <mat-option *ngFor="let category of categories$ | async" [value]="category" i18n>{category,
                            select, RedWine {RedWine} WhiteWine
                            {WhiteWine} RoseWine {RoseWine} SparklingWine {SparklingWine}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="categoryField?.errors?.required" i18n>Category is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Producer</mat-label>
                    <input matInput formControlName="producer" required>
                    <mat-error *ngIf="producerField?.errors?.required" i18n>Producer is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Country</mat-label>
                    <input matInput formControlName="country" required>
                    <mat-error *ngIf="countryField?.errors?.required" i18n>Country is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label i18n>Region</mat-label>
                    <input matInput formControlName="region" required>
                    <mat-error *ngIf="regionField?.errors?.required" i18n>Region is required.
                    </mat-error>
                </mat-form-field>

                <!-- vintages -->
                <h3 i18n>Vintages</h3>
                <mat-nav-list>
                    <ng-container *ngFor="let vintageInfo of wine.vintageInfos">
                        <mat-list-item routerLink="/wines/view-vintage/{{wine._id}}/{{vintageInfo.vintage}}">
                            <h3 matLine>{{vintageInfo.vintage}}</h3>
                            <div fxLayout="row">
                                <div fxFlex i18n>{vintageInfo.bottleCount,
                                    plural, =1 {{{vintageInfo.bottleCount}} Bottle} other {{{vintageInfo.bottleCount}}
                                    Bottles}}</div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-nav-list>
                <button mat-button color="accent" routerLink="/wines/add-vintage/{{wine._id}}"
                    [disabled]="!wineId">Jahrgang hinzufügen</button>
            </div>

            <ng-template #loading i18n>
                Loading wine...
            </ng-template>
        </div>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDelete()" [disabled]="!wineId">
        <mat-icon>delete</mat-icon>
        <span i18n>Delete wine</span>
    </button>
</mat-menu>