.mat-form-field {
    width: 100%;
}

.wine-image {
    max-width: 100%;
    height: auto;
}

.image-container {
    position: relative;
}

.image-floating-action-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.no-image {
    width: 300px;
    height: 300px;
    border: 1px dashed;
}
