@use '@angular/material' as mat;

.column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center-align {
  align-self: center;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.webcam-image {
  @include mat.dialog-overrides((
    container-color: orange,
    subhead-color: red,
    container-max-width: 2000px
  ));

  .captured-image {
    max-width: 70vw;
    max-height: 65vh;
    object-fit: contain;
  }
}
