<div class="webcam-dialog-container" style="border: 2px solid lightblue;">
  <div
    style="flex: 0 0 auto; align-content: space-between; align-self: center; flex-direction: column; display: flex;">

    <!-- image -->

    <div style="flex: 1 1 auto; border: 2px solid blue;">
      <div *ngIf="!webcamImage; then webcamImageTemplate else capturedImageTemplate">
      </div>
    </div>

    <!-- actions -->

    <div
      style="flex: 0 0 auto; border: 2px solid blue; align-content: center; align-self: center; flex-direction: row">
      <div *ngIf="!webcamImage; then webcamActionsTemplate else capturedImageActionsTemplate"
      ></div>
    </div>
  </div>
</div>
<!-- image templates -->

<ng-template #webcamImageTemplate>
  <webcam (imageCapture)="onCaptureImage($event)" [height]="webcamHeight" [trigger]="triggerObservable"
          [width]="webcamWidth"></webcam>
</ng-template>
<ng-template #capturedImageTemplate>
  <img [src]="webcamImage!.imageAsDataUrl" alt="Webcam Image" style="object-fit: fill; width: 100%; height: 100%;"/>
</ng-template>

<!-- actions templates -->

<ng-template #webcamActionsTemplate>
  <button (click)="onTriggerSnapshot()" mat-icon-button>
    <mat-icon>camera</mat-icon>
  </button>
</ng-template>

<ng-template #capturedImageActionsTemplate>
  <button (click)="onRetry()" mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
  <button (click)="onApply()" mat-icon-button>
    <mat-icon>done</mat-icon>
  </button>
  <button (click)="onCancel()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</ng-template>
