@use '@angular/material' as mat;

.webcam-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  //width: 100vw * 0.9;
  //height: 100vh * 0.9;
}

//webcam {
//  max-width: 100vw;
//  max-height: 100vh;
//  object-fit: contain;
//}

