<div class="webcam-dialog-container">
  <div class="webcam-dialog">

    <!-- image -->
    <div class="image">
      @if (!webcamImage) {
        <webcam (imageCapture)="onCaptureImage($event)" [height]="webcamHeight" [trigger]="triggerObservable"
                [width]="webcamWidth"></webcam>
      } @else {
        <img [src]="webcamImage!.imageAsDataUrl" alt="Webcam Image" class="captured-image"/>
      }
    </div>

    <!-- actions -->
    <div class="actions">
      @if (!webcamImage) {
        <button (click)="onTriggerSnapshot()" mat-icon-button>
          <mat-icon>camera</mat-icon>
        </button>
      } @else {
        <button (click)="onRetry()" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="onApply()" mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="onCancel()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  </div>
</div>
