.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  border: 1px solid green;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container {
  width: 100%;
}

.form {
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

/* Für mobile Geräte (xs) */
//@media screen and (max-width: 599px) {
//  .content-container {
//    flex-direction: column;
//  }
//}
