.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.form-container {
  width: 100%;
}

.form {
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;

  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.vintage-form {
  display: flex;
  flex-direction: column;
}
