.wine-image {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.wine-image img {
  height: 72px;
  margin-right: 16px;
  border-radius: 4px;
}

.details {
  flex-grow: 1;
  line-height: 1.6;
}

.bottle-count {
  //margin-left: auto;
  font-weight: bold;
  white-space: nowrap;
}


