<div class="page-container">
  <div class="toolbar-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <div i18n style="flex: 0 0 auto">Wine List</div>
        <div style="flex: 1 0 auto;">
          <app-wine-list-filter (filterChanged)="onFilterChanged($event)"></app-wine-list-filter>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="content-container">
    <ng-container *ngIf=" wines$ | async as wines; else loading">
      <ng-container *ngIf="wines.length > 0; else noData">
        <mat-nav-list *ngFor="let wine of wines$ | async">
          <mat-list-item [routerLink]="['/wines', 'view-wine', wine.id]">
            <img [src]="wine.image ? wine.image : dummyAvatar" alt="Wine Picture" class="wine-image"
                 matListItemAvatar/>
            <h2 matListItemTitle> {{ wine.name }}</h2>
            <span i18n matListItemLine>
              {{ wine.producer }}
              - {wine.category, select, RedWine {RedWine} WhiteWine {WhiteWine} RoseWine {RoseWine} SparklingWine {SparklingWine}}
            </span>
            <span class="bottle-count" i18n matListItemLine>
              {wine.bottleCount, plural, =1 {{{ wine.bottleCount }} Bottle} other {{{ wine.bottleCount }} Bottles}}
            </span>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <h3 i18n>Loading wines...</h3>
    </ng-template>

    <ng-template #noData>
      <h3 i18n>There are no matching data records available</h3>
    </ng-template>
  </div>

  <div class="floating-action-button">
    <button mat-fab routerLink="/wines/add-wine">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
