.storage {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.storage-field {
  flex: 1 1 auto;
}

.custom-error {
  margin-bottom: 1rem;
}

.form-field {
  min-width: 1px !important;
}


