<div [formGroup]="vintageDetailsFormGroup">
  <div formArrayName="storageLocations">
    @for (storageLocationFormGroup of storageLocationsFormArray.controls; track storageLocationIndex; let
      storageLocationIndex = $index) {
      <div [formGroupName]="storageLocationIndex">
        <div class="storage">
          <mat-form-field class="storage-field">
            <mat-label i18n>Row</mat-label>
            <input formControlName="row" matInput min="1" required type="number">
          </mat-form-field>
          <mat-form-field class="storage-field">
            <mat-label i18n>Shelf</mat-label>
            <input formControlName="shelf" matInput min="1" required type="number">
          </mat-form-field>
          <div>
            <button (click)="onRemoveStorageLocation(storageLocationIndex)"
                    color="accent"
                    mat-icon-button
                    type="button">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
    }

    @if (storageLocationsFormArray.errors?.['duplicateStorageLocations']) {
      <mat-error
        class="custom-error"
        i18n>
        One or more storage locations have been entered more than once.
      </mat-error>
    }

    @if (vintageDetailsFormGroup.errors?.['storageLocationOccupied']) {
      <mat-error
        class="custom-error"
        i18n>
        One of the entered storage locations is already occupied.
      </mat-error>
    }

    <button (click)="onAddStorageLocation()"
            color="accent"
            i18n
            mat-button
            type="button">
      Add bottle
    </button>
  </div>
</div>
