
.mygrid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 600px) {
    .form {
      padding-left: 20px;
    }
  }
}

.image-container {
  position: relative;

  .wine-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .image-floating-action-button {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

.form {
  width: 100%;

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
}
