<div class="page-container">
  <div class="toolbar-container">
    <mat-toolbar>
      <button [routerLink]="['/wines/wine-list']" aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      </button>
      <span>{{ wineFormGroup.value.name }}</span>
      <span class="toolbar-spacer"></span>
      <button (click)="onSave()" [disabled]="!wineFormGroup.valid" aria-label="Save" i18n-matTooltip
              mat-icon-button matTooltip="Save changes">
        <mat-icon>save</mat-icon>
      </button>
      <button [disabled]="!wineId" aria-label="RemoveBottle" i18n-matTooltip
              mat-icon-button matTooltip="Remove wine bottle" routerLink="/wines/remove-bottle/{{(wine$|async)?.id}}">
        <mat-icon>liquor</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" aria-label="More" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <div class="content-container">
    <!-- image-->
    <div class="image-container">
      <img [src]="currentImage ? currentImage : dummyImage" alt="Wine Image" class="wine-image"/>
      <div class="image-floating-action-button">
        <button (click)=onCaptureImage() color="accent" mat-mini-fab>
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
    </div>

    <!-- form -->
    <div class="form">
      <form *ngIf="(wine$ | async) as wine; else loading" [formGroup]="wineFormGroup">
        <h3 i18n>Common Data</h3>
        <mat-form-field>
          <mat-label i18n>Name</mat-label>
          <input formControlName="name" matInput required trim="blur">
          <mat-error *ngIf="nameField?.errors?.['required']" i18>Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories$ | async" [value]="category" i18n>{category,
              select, RedWine {RedWine} WhiteWine
              {WhiteWine} RoseWine {RoseWine} SparklingWine {SparklingWine}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryField?.errors?.['required']" i18n>Category is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Producer</mat-label>
          <input [matAutocomplete]="producerAutocomplete" formControlName="producer" matInput required
                 trim="blur">
          <mat-autocomplete #producerAutocomplete="matAutocomplete">
            <mat-option *ngFor="let producer of producers$|async" [value]="producer">
              {{ producer }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="producerField?.errors?.['required']" i18n>Producer is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Country</mat-label>
          <input [matAutocomplete]="countryAutocomplete" formControlName="country" matInput required
                 trim="blur">
          <mat-autocomplete #countryAutocomplete="matAutocomplete">
            <mat-option *ngFor="let country of countries$|async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="countryField?.errors?.['required']" i18n>Country is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Region</mat-label>
          <input [matAutocomplete]="regionAutocomplete" formControlName="region" matInput required
                 trim="blur">
          <mat-autocomplete #regionAutocomplete="matAutocomplete">
            <mat-option *ngFor="let region of regions$|async" [value]="region">
              {{ region }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="regionField?.errors?.['required']" i18n>Region is required.
          </mat-error>
        </mat-form-field>

        <!-- vintages -->
        <h3 i18n>Vintages</h3>
        <mat-nav-list>
          <ng-container *ngFor="let vintageInfo of wine.vintageInfos">
            <mat-list-item routerLink="/wines/view-vintage/{{wine.id}}/{{vintageInfo.vintage}}">
              <h3 matLine>{{ vintageInfo.vintage }}</h3>
              <div>
                <div i18n>{vintageInfo.bottleCount,
                  plural, =1 {{{ vintageInfo.bottleCount }} Bottle} other
                  {{{ vintageInfo.bottleCount }}
                  Bottles}}</div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-nav-list>
        <button [disabled]="!wineId" mat-button
                routerLink="/wines/add-vintage/{{wineId}}">Jahrgang hinzufügen
        </button>
      </form>

      <ng-template #loading i18n>
        Loading wine...
      </ng-template>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="onDelete()" [disabled]="!wineId" mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span i18n>Delete wine</span>
  </button>
</mat-menu>
