@use '@angular/material' as mat;
@use 'custom-theme-colors' as dark-red-colors;

html {
  @include mat.theme((
    color: (
      primary: dark-red-colors.$primary-palette,
      tertiary: dark-red-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0
  ));
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.system {
  color-scheme: light dark;
}
