<div class="container" fxLayout="column" fxLayoutGap="20px">
    <!-- toolbar-->
    <div>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button routerLink="/wines/view-wine/{{wineId}}">
                <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
            </button>
            <span>Weinflasche entnehmen</span>
            <span class="toolbar-spacer"></span>
        </mat-toolbar>
    </div>

    <!-- content -->
    <div class="content-container" fxFlex="auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    </div>
</div>