<form [formGroup]="wineListFilterFormGroup">
  <div class="filter-container">
    <div class="filter-row-1">
      <!-- wine name filter -->
      <mat-form-field appearance="outline" class="wine-name-filter" floatLabel="always" i18n-matTooltip
                      matTooltip="Name" subscriptSizing="dynamic">
        <mat-label i18n>Wine Name</mat-label>
        <input formControlName="wineName" i18n-placeholder matInput placeholder="Search" trim="blur" type="search">
      </mat-form-field>

      <!-- only available wines filter -->
      <div class="only-available-wines-filter">
        <mat-slide-toggle formControlName="onlyAvailableWines" i18n
                          i18n-matTooltip matTooltip="Only available wines">Only available wines
        </mat-slide-toggle>
      </div>
    </div>

    <div class="filter-row-2">
      <!-- producer filter -->
      <mat-form-field appearance="outline" class="producer-filter"
                      i18n-matTooltip
                      matTooltip="Producer" subscriptSizing="dynamic">
        <mat-label class="filter-label" i18n>Producer</mat-label>
        <mat-select formControlName="producer" panelWidth="">
          <mat-option i18n value="all">All</mat-option>
          <mat-option *ngFor="let producer of allProducers$ | async" [value]="producer">
            {{ producer }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- category filter -->
      <mat-form-field appearance="outline" class="category-filter"
                      i18n-matTooltip
                      matTooltip="Category" subscriptSizing="dynamic">
        <mat-label class="filter-label" i18n>Category</mat-label>
        <mat-select formControlName="category" panelWidth="">
          <mat-option i18n value="all">All</mat-option>
          <mat-option *ngFor="let category of allWineCategories$ |async" [value]="category" i18n>
            {category,
              select, RedWine {RedWine} WhiteWine
              {WhiteWine} RoseWine {RoseWine} SparklingWine {SparklingWine}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
