form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

mat-form-field {
  --mat-form-field-container-height: 16px;
  --mat-form-field-container-vertical-padding: 6px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.filter-row-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1 1 auto;
  max-width: 100%;
}

.filter-row-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 100%;
  flex: 1 1 auto;
}

.wine-name-filter {
  flex: 1 1 auto;
}

.producer-filter {
  flex: 1 1 auto;
}

.category-filter {
  flex: 1 1 auto;
}

.only-available-wines-filter {
  flex: 0 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wine-list-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
