/* You can add global styles to this file, and also import other style files */

@import "./themes/dark-theme.scss";
@import "./themes/wine-theme.scss";

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.floating-action-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0 !important;
}

.mat-list-base {
    padding-top: 0 !important;
}

.mat-form-field-infix {
    width: 80px !important;
}

.page-container {
    height: 100%;
}

.content-container {
    overflow-y: auto;
    padding: 16px 16px;
}
