<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button [routerLink]="['/wines/wine-list']">
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
    </button>
    <span>{{(wine$ | async)?.name}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Save">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button aria-label="More" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span i18n="@@DeleteWine">Löschen</span>
    </button>
</mat-menu>

<div class="form-container">
    <div [formGroup]="commonDataFormGroup" *ngIf="wine$ | async; else loading">
        <mat-form-field>
            <mat-label i18n="@@WineCategory2|WineCategory">Category</mat-label>
            <mat-select formControlName="category" required readonly>
                <mat-option *ngFor="let category of categories$ | async" value="{{category}}" i18n="@@WineCategory">
                    {category, select, redWine {RedWine} whiteWine {WhiteWine} roseWine {RoseWine} sparklingWine
                    {SparklingWine}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label i18n="@@WineName">Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label i18n="@@WineProducer">Producer</mat-label>
            <input matInput formControlName="producer" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label i18n="@@Country">Country</mat-label>
            <input matInput formControlName="country">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label i18n="@@Region">Region</mat-label>
            <input matInput formControlName="region" required>
        </mat-form-field>
    </div>

    <ng-template #loading i18n="@@LoadingWine">
        Loading wine...
    </ng-template>
</div>